<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <h2>My Projects</h2>
    <a routerLink="/maths">Calculator</a>
    <a routerLink="/chess">Chess</a>
    <a routerLink="/youtube-viewer">Youtube Viewer</a>
  </mat-sidenav>
  <mat-sidenav-content>

  </mat-sidenav-content>
      <router-outlet></router-outlet>
</mat-sidenav-container> -->


<div class="sidenav">
    <a routerLink="/maths">Calculator</a>
    <a routerLink="/chess">Chess</a>
    <a routerLink="/youtube-viewer">Youtube Viewer</a>
</div>



<!-- <router-outlet></router-outlet> -->

<!-- <h2>Listbox Navigation Example</h2>
  <label for="listBox">Choose a destination:</label>
  <select id="listBox">
    <option routerLink="/maths">Calculator</option>
     <option routerLink="/chess">Chess</option>
  </select>
  <button onclick="navigate()">Navigate</button> -->

<app-maths></app-maths>
